.title,
.endpointsHeader {
  text-decoration: underline #e63946;
}

body {
  background-color: #f1faee;
}

.container {
  justify-content: left;
  padding: 2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.breadpun {
  font-size: 1.5rem;
}

.breadpunPhoto {
  margin-top: 1rem;
  width: 300px;
}

.newBreadPunContainer {
  margin: 1rem 0;
}

.newBreadPunBtn {
  background-color: #f1faee;
  padding: 0.5rem 2rem;
  border: 2px solid #e63946;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.newBreadPunBtn:hover {
  background-color: #e63946;
  color: white;
}

.getContainer {
  padding: 1rem;
  background-color: #a8dadc;
  margin-bottom: 1rem;
}

.getHeader {
  padding: 1rem;
  border: 3px solid black;
  background-color: #f1faee;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 60%;
  }
}
